In [1]:
import pandas as pd
data = pd.read_csv('users.csv') # pd.read_table('users.csv', sep=',')

In [2]:
data

   id first_name  last_name                      email  gender      ip_address
0   1    Anstice    Sincock        asincock0@wufoo.com  Female   124.76.249.59
1   2     Lethia    Timmens  ltimmens1@sourceforge.net  Female  14.193.225.111
2   3    Carolin  Hallybone      challybone2@goo.ne.jp  Female   17.45.122.149
3   4         Ad    Brewitt          abrewitt3@wsj.com    Male    117.68.14.35
4   5    Mariele      Mount             mmount4@wp.com  Female  215.176.15.211
5   6       Dave     Rowney         drowney5@google.fr    Male   217.248.75.59
6   7       Base     Birkin          bbirkin6@tamu.edu    Male     4.253.91.17
7   8     Ansell       Trow       atrow7@princeton.edu    Male  77.188.159.187
8   9     Joyann    Gripton    jgripton8@quantcast.com  Female  42.221.170.135
9  10     Felipa     Kerwen         fkerwen9@patch.com  Female   26.181.115.43